.form-con{
    margin-bottom: 10%;
}

.write{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-bottom: 6%;
}

.form-head{
    font-family: Dbold;
    font-size: 8vw;
    text-transform: uppercase;
    color: #9A3B3B;
    padding-left: 3%;
}

.form-line{
    width: 100%;
    border-width: 1;
    color: #9A3B3B;
}


.name,
.email,
.phone{
    margin-bottom: 5%;
}

.email,
.phone{
    width: 70%;
}


input,
textarea{
    height: 5vw;
    width: 20vw;
    color: #9A3B3B;
    font-family: light;
    font-size: 3.8vw;
    border: none;
    border-bottom: 1px solid #9A3B3B;
    background-color: #FFF3E2;
    margin-right: 5%;
}

input::placeholder,
textarea::placeholder{
    color: #9A3B3B;
    opacity: 0.5;
    font-family: light;
    font-size: 3.8vw;
}

input:focus,
textarea:focus{
    outline: none;
}

.submit{
    display: flex;
    align-items: center;
}

textarea{
    resize: none;
    height: 10vw;
    width: 80%;
}

.sub-button{
    background-color: transparent;
    border: none;
}

.ri-arrow-right-line{
    color: #9A3B3B;
    font-size: 8vw;
    cursor: pointer;
}

@media (min-width: 640px){
    .form-head{
        font-size: 4vw;
    }

    input,
    textarea{
        height: 3vw;
    }

    input::placeholder,
    textarea::placeholder{
        font-size: 2vw;
    }

    input,
    textarea{
        font-size: 2vw;
    }
}

@media (min-width: 992px) {
    input::placeholder,
    textarea::placeholder{
        font-size: 2vw;
    }
    
    input,
    textarea{
        font-size: 2vw;
    
    }
}