.home-container{
    padding: 0 2%;
    position: relative;
    overflow: hidden;
}

.heading{
    padding: 30% 0 10% 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}   

h1{
    font-family: Dlight;
    font-size: 13vw;
    font-weight: 500;
    letter-spacing: 1vw;
    opacity: 0;
    color: #9A3B3B;
    position: relative;
}

h1:nth-child(1) {
    left: -14%;
}

h1:nth-child(2) {
    left: 8%;
}

h1:nth-child(3) {
    left: -6%;
}



.line{
    display: flex;
    align-items: center;
    justify-content: start;
}

.line-text{
    opacity: 0;
}

hr{
    width: 0%;
    border: 0.1vw solid #9A3B3B;
    padding: 0 5%;
    opacity: 0;
}

.text-mind,
.text-heart{
    font-family: regular;
    font-size: 2.5vw;
    font-weight: 900;
    color: #9A3B3B;
    letter-spacing: 0.3vw;
    padding: 0 1vw;
}

.book-container{
    width: 100%;
    flex-wrap:wrap;
    display: flex;
    flex-grow: 100;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    margin-bottom: 10%;
}

.product{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin-bottom: 2%;
}

.anime{
    opacity: 0;
}

.text{
    text-align: center;
    color: #9A3B3B;
}

.book-dets-price-name{
    font-family: light;
    font-weight: 500;
    font-size: 2.5vw;
    text-transform: capitalize;
}

.anime{
    pointer-events: none;
}

.pointer{
    height: 2vw;
    width: 7vw;
    border-radius: 0.3vw;
    background-color: #C08261;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 11;
    opacity: 0;
    scale: 0;
    pointer-events: none;
    display: none;
}

.purchase{
    font-size: 1vw;
    font-family: light;
}

.thought{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 20%; */
    margin: 25% 0;
}

.sayings{
    font-size: 6vw;
    color: #9A3B3B;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.saying-one,
.saying-two{
    font-family: Dlight;
    position: relative;
    opacity: 0;
}

.sayings span:nth-child(1) {
    left: -20%;
}

.sayings span:nth-child(2) {
    left: 26%;
}

.test{
    height: 100vh;
}

.library-p{
    margin-bottom: 30%;
}

.about{
    color: #FFF3E2;
    text-align: center;
    letter-spacing: 0.1vw;
    word-spacing: 0.5vw;
    line-height: 1.8;
    padding: 0 5%;
    background-color: transparent;
}

.about>span{
    font-family: Dlight;

}

.quiet{
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 1.2;
    opacity: 0;
}

.footer-logo{
    width: 30vw;
    margin-bottom: 3%;
}

@media (min-width: 420px) {
    .book-dets-price-name{
        font-size: 3.5vw;
    }
}

@media (min-width: 480px) {
    .product{
        width: 40%;
    }
}

@media (min-width: 640px) { 
    .heading{
        padding: 10% 0;
    }
    h1{
        font-size: 10vw;
    }

    h1:nth-child(1) {
        left: -20%;
    }
    
    h1:nth-child(2) {
        left: 15%;
    }
    
    h1:nth-child(3) {
        left: -13%;
    }

    .text-mind,
    .text-heart{
        font-size: 1.5vw;
    }

    .book-dets-price-name{
        font-size: 2vw;
    }

    .sayings{
        font-size: 4vw;
    }

    .about{
        min-width: 100%;
        font-size: 2vw;
    }

    .footer-logo{
        width: 20vw;
    }   
}


@media (min-width: 768px) { 
    .pointer{
        display:flex;
    }
}

@media (min-width: 860px) {
    .book-dets-price-name{
        font-size: 1.8vw;
    }
}

@media (min-width: 992px) {
    .book-dets-price-name{
        font-size: 1.3vw;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 1024px) and (orientation: landscape) {
    .pointer{
        display: none;
    }
}