*{
    z-index: 10;
}

a{
    text-decoration: none;
    font-family: light;
    color: #9A3B3B;
}

nav{
    width: 100%;
    min-height: 12vw;
    padding: 4% 5%;
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

.links{
    display: none;
}

.nav-svg{
    width: 8vw;
    stroke: #9A3B3B;
}

.icons{
    width: 20vw;
    gap: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1vw;
    border: 1px solid #c0826141;
    border-radius: 100vw;
    position: relative;
    background-color: #ffffff01;
    backdrop-filter: blur(2px);
}

.cart-icon-con{
    position: relative;
    display: flex;
    justify-content: end;
}

.cart-dets{
    height: 1vw;
    width: 1vw;
    border-radius: 100vw;
    position: absolute;
    top: -10%;
    background-color: #ff6816;
    opacity: 1;
}

.cart,
.close,
.menu-show{
    font-size: 4vw;
    cursor: pointer;
    color: #9A3B3B;
}

.close{
    display: none;
}

.menu-container{
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: end;
}

menu{
    min-height: 100%;  
    width: 70%;
    background-color: #611E1C;
    position: fixed ;
    transform: translateX(143%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4vw 0;
    z-index: 99;
}

.pages{
    min-height: 70svh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 6vw;
}

h3{
    color: #FFF3E2;
    font-family: Dbold;
    text-transform: uppercase;
    font-size: 10vw;
    font-weight: 500;
    padding: 0.5vw 1vw;
    display: inline;
    line-height: 1.5;
}

.connect{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 6vw;
}

.interact{
    font-family: light;
    font-weight: 10;
    color: #C08261;
}

.social-links{
    color: #FFF3E2;
    font-family: light;
    text-transform: uppercase;
    font-size: 4vw;
    font-weight: 500;
    padding: 0.5vw 1vw;
    display: inline;
    line-height: 1.5;
}

@media (min-width: 640px) {
    nav{
        min-height: 6vw;
        padding: 0 2%;
    }

    .links-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2vw;
    }
    
    .links{
        display: flex;
        gap: 2vw;
    }
    
    h4{
        color: #9A3B3B;
        font-size: 1.2vw;
        font-family: light;
        font-weight: 500;
        text-transform: uppercase;
        border: 1px solid #c0826141;
        padding: 0.5vw 1vw;
        border-radius: 100vw;
        position: relative;
        background-color: #ffffff01;
        backdrop-filter: blur(2px);
    }
    
    .nav-svg{
        width: 4vw;
    }
    
    .icons{
        width: 6vw;
        padding: 0.5vw 4vw;
    }

    .cart-dets{
        height: 0.4vw;
        width: 0.4vw;
    }
    
    .cart,
    .close,
    .menu-show{
        font-size: 1.2vw;
    }

    menu{
        flex-direction: row;
        padding: 2vw 0;
    }
    
    .pages{
        min-height: 70svh;
        width: 50%;
        display: flex;
        justify-content: flex-end;

    }
    
    h3{
        color: #FFF3E2;
        font-family: Dbold;
        text-transform: uppercase;
        font-size: 4vw;
        font-weight: 500;
        padding: 0.5vw 1vw;
        display: inline;
        line-height: 1.2;
    }
    
    .connect{
        align-items: flex-end;
    }
    
.social-links{
        font-size: 1.5vw;
    }
}

@media (min-width: 768px) { 
    .icons{
        padding: 0.5vw 1vw;
    }
}

@media (min-width: 860px) {
    .cart-dets{
        height: 0.3vw;
        width: 0.3vw;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 1024px) and (orientation: landscape) {
    .links{
        display: none;
    }
}