.cart-item-con{
    margin-top: 16%;
    padding: 0 5%;
}

.cart-item{
    border-bottom: 2px solid #9A3B3B;
}

.cart-book-img{
    width: 50%;
}

.cart-item,
.cart-price-and-delete,
.cart-change-quantity{
    display: flex;
    align-items: center;
    justify-content: start;
}

.cart-book-name{
    color: #9A3B3B;
    font-family: Dbold;
    font-weight: 500;
    font-size: 5vw;
    margin-bottom: 5%;
    text-transform: uppercase;
}

.cart-price-and-delete{
    gap: 10vw;
    margin-bottom: 5%;
}

.ri-delete-bin-7-line{
    color: #ebcec1;
    font-size: 4vw;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.ri-delete-bin-7-line:hover{
    color: #9A3B3B;
}

.cart-book-price{
    color: #9A3B3B;
    font-family: light;
    font-weight: 500;
    font-size: 4vw;
    padding-bottom: 2%;
    border-bottom: 1px solid #9A3B3B;
}

.cart-buy-book-quantity{
    color: #9A3B3B;
    font-family: light;
    font-weight: 500;
    font-size: 3.2vw;
    margin-bottom: 3%;
}

.cart-change-quantity{
    gap: 4vw;
    margin-bottom: 5%;
}

.cart-decrease,
.cart-increase,
.cart-real-quantity{
    color: #9A3B3B;
    font-family: regular;
    font-size: 4vw;
    font-weight: 500;
}

.cart-change-btn{
    border: none;
    background-color: transparent;
}

.cart-shipping-details,
.cart-shipping-span{
    font-size: 3.2vw;
}

.cart-shipping-details{
    color: #9A3B3B;
    font-family: regular;
    font-weight: 500;
}

.cart-shipping-span{
    font-family: light;
}

@media (min-width: 640px) {
    .cart-item-con{
        margin-top: 6%;
    }

    .cart-book-img{
        width: 40%;
        margin-right: 10%;
    }

    .cart-book-name{
        font-size: 3vw;
    }

    .ri-delete-bin-7-line,
    .cart-book-price,
    .cart-decrease,
    .cart-increase,
    .cart-real-quantity{
        font-size: 2.5vw;
    }

    .cart-buy-book-quantity,
    .cart-shipping-details,
    .cart-shipping-span{
        font-size: 2vw;
    }
}

@media (min-width: 768px) {
    .cart-item-con{
        margin-top: 10%;
    }

    .cart-book-img{
        width: 30%;
    }

    .cart-book-name{
        font-size: 2vw;
    }

    .ri-delete-bin-7-line,
    .cart-book-price,
    .cart-decrease,
    .cart-increase,
    .cart-real-quantity{
        font-size: 1.5vw;
    }

    .cart-buy-book-quantity,
    .cart-shipping-details,
    .cart-shipping-span{
        font-size: 1vw;
    }
}